# Database connection
DATABASE_URL=your_mongodb_connection_string

# Cloudinary configuration
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Frontend URL in development
FRONTEND_URL=http://localhost:5173

# SMTP email service configuration
SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

# Secret key for JSON Web Tokens
JWT_SECRET=your_super_secure_secret